html, body, footer {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  flex: 1;
  margin-bottom: 0;
  flex-grow: 1;
}

footer {
  background-color: $footer-bg-color;
  color: $footer-text-color;
  padding: $footer-padding;
  height: 80px; // Ajuste para que coincida con el valor en el CSS corregido
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease; 

  &:hover {
    background-color: rgb(132, 160, 95); 
  }
}

.footer-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.5);
  }
}
