@media (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
      padding: 0 10px;
      text-align: center;
    }
  
    .nav {
      justify-content: center;
      margin-top: 10px;
  
      .nav-link {
        margin: 5px 0;
      }
    }
  
    main {
      padding: 20px 0;
    }
  
    section {
      flex: 1 1 100%;
    }
  
    .footer-icon {
      width: 50px;
      height: 50px;
    }
  }