$primary-color: #dc3545;
$secondary-color: #343a40;
$font-stack: Arial, sans-serif;
$text-color-light: #ffffff;
$text-color-dark: #020508;
$font-stack: Arial, sans-serif;
$color: $text-color-light;
$footer-bg-color: #343a40;
$footer-text-color: #fff;
$footer-padding: 1rem;
